@font-face {
    font-family: "Rubik";
    src: url("./fonts/Rubik-VariableFont_wght.ttf");
}

html {
    font-family: "Rubik", sans-serif;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link {
    color: teal;
}

.nav-link:hover {
    color: rgb(4, 152, 152);
}

img {
    border-radius: 16px;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
}