#groups-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#groups-list {
    list-style-type: none;
    width: 100%;
    padding: 0;
}

#groups-list li {
    height: 240px;
}

#groups-list li:hover {
    background-color: rgb(246, 246, 246);
}

#groups-list hr {
    border: 1px solid gray;
    margin: 0;
}

.group-card {
    margin: 10px 0;
    height: 160px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    text-decoration: none;
    color: black;
    padding: 12px;
}

.group-card img {
    height: 200px;
    width: 280px;
    min-height: 200px;
    min-width: 280px;
    object-fit: cover;
}

#groups-list-nav-bar {
    margin-top: 30px;
}

#groups-list-nav-bar > * {
    margin-right: 15px;
    font-size: larger;
}

.group-info-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    height: 200px;
}

.group-info-card h3 {
    margin: 0;
    color: rgb(242, 97, 78);
}

.group-desc {
    flex-grow: 1;
    height: 110px;
    overflow-y: auto;
    scrollbar-width: thin;
}
