#event-form {
    width: 800px;
}

#event-form input,
#event-form select {
    width: 200px;
    height: 20px;
}

#price-input {
    text-align: end;
}

#event-form > button {
    all: unset;
    background-color: rgb(229, 91, 72);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#event-form > button:hover {
    background-color: rgb(242, 97, 78);
    cursor: pointer;
}

.error-msg {
    color: rgb(229, 91, 72);
}

#event-form input,
#event-form select,
#event-form textarea {
    background-color: rgb(223, 236, 255);
}
