.profile-dropdown {
    position: absolute;
    right: 8px;
    top: 46px;
    list-style-type: none;
    border: 2px solid black;
    border-radius: 6px;
    background-color: white;
    padding: 0;
}

.profile-dropdown > li {
    padding: 1px 10px;
}

.bottom-border {
    border-bottom: 2px solid black;
}

#logout-li {
    padding: 0;
}

#logout {
    all: unset;
    width: 90%;
    padding-left: 10px;
}

#logout-li:hover {
    background-color: rgb(229, 91, 72);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    justify-content: space-between;
    min-width: 240px;
    padding: 8px 8px 0 8px;
    border-bottom: 2px solid gray;
}

#nav-logged-out > * {
    margin: 0 10px;
}

#nav-logged-in > * {
    all: unset;
    border-radius: 8px;
    padding: 4px 8px;
    font-weight: 480;
    color: gray;
}

#nav-logged-in > *:hover {
    color: rgb(229, 91, 72);
    cursor: pointer;
}

#profile-button {
    all: unset;
}

#profile-button:hover {
    cursor: pointer;
}

#profile-button > * {
    margin: 0 2px;
}
