.profile-dropdown {
    position: absolute;
    list-style-type: none;
}

.hidden {
    display: none;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-user > * {
    margin: 0px 10px;
}
