#login-container > h1 {
    margin-top: 12px;
}

#login-form {
    width: 380px;
}

#login-form > p {
    text-align: center;
    color: rgb(229, 91, 72);
    margin: 4px 0;
}

#login-form > * {
    width: 320px;
}

#login-form > input {
    width: 312.8px;
    margin: 4px 0;
    background-color: rgb(223, 236, 255);
}

#login-form > label {
    display: none;
}

#submit {
    margin: 10px 0;
    height: 36px;
    border: none;
    border-radius: 8px;
    background-color: rgb(229, 91, 72);
    font-family: "Rubik", sans-serif;
    color: white;
    font-weight: 500;
}

#submit:hover {
    background-color: rgb(242, 97, 78);
}

#submit:disabled {
    background-color: rgba(229, 90, 72, 0.5);
}

#demo-submit {
    all: unset;
    color: teal;
    text-decoration: underline;
    margin: 10px 0 28px 0;
    font-family: Arial, Helvetica, sans-serif;
}

#demo-submit:hover {
    cursor: pointer;
    font-weight: bold;
}
